@import "@fontsource/poppins";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {
  .clip-trapezoid {
    clip-path: polygon(
      10% 0%,
      90% 0%,
      100% 50%,
      87% 100%,
      15% 98%,
      0% 50%
    );
    display: inline-block;
  }
   .clip-trapezoid2 {
    clip-path: polygon(
    2% 10%, 
    50% 0%,   /* canto superior esquerdo levemente para baixo */
    99% 30%,  /* canto superior direito reto */
    97% 97%,
    90% 100%,
    60% 100%, /* canto inferior direito um pouco mais alto */
    1% 80%   /* canto inferior esquerdo reto */
  );
    display: inline-block;
  }
   .clip-trapezoid3 {
    clip-path: polygon(
    20% 15%,
    75% 0%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%
  );
    display: inline-block;
  }
  
}
